@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --border: 1px solid #131325;
  --gradient: linear-gradient(-45deg, #d000f7, #24BAE3);
  --box-shadow: 5px 5px 15px rgb(19, 19, 37),
  -5px -5px 15px rgb(19, 19, 37);
  --items-shadow: 5px 5px 15px rgb(19, 19, 37),
  -5px -5px 15px rgb(19, 19, 37);
  --gradient-bg: linear-gradient(-45deg, #D000F7, #24BAE3);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: #050510;
  cursor: url("/cursor.png"), auto !important;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-decoration: none;
  cursor: url("/cursor.png"), auto !important;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
* :hover {
  cursor: url("/cursor.png"), auto !important;
}
::-webkit-scrollbar {
  display: none;
}
